---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

metadata:
  name: project-template-dev

namespace: project-template-dev

namePrefix: dev-

commonLabels:
  environment: development

bases:
- ../../base

replicas:
- name: flask-backend
  count: 1
- name: go-backend
  count: 1
- name: webui
  count: 1

configMapGenerator:
- name: project-template-config
  behavior: merge
  literals:
  - LOG_LEVEL=DEBUG
  - RELEASE_MODE=false

secretGenerator:
- name: project-template-secrets
  behavior: merge
  literals:
  - DB_USER=devuser
  - DB_PASS=devpass
  - SECRET_KEY=devsecretkey
  - SECURITY_PASSWORD_SALT=devsalt
  - LICENSE_KEY=PENG-DEV-XXXX-XXXX-XXXX-ABCD
  - REDIS_PASSWORD=devredis
