---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

metadata:
  name: project-template-prod

namespace: project-template-prod

namePrefix: prod-

commonLabels:
  environment: production

bases:
- ../../base

replicas:
- name: flask-backend
  count: 3
- name: go-backend
  count: 3
- name: webui
  count: 2

configMapGenerator:
- name: project-template-config
  behavior: merge
  literals:
  - LOG_LEVEL=WARN
  - RELEASE_MODE=true

secretGenerator:
- name: project-template-secrets
  behavior: merge
  literals:
  - DB_USER=produser
  - DB_PASS=prodpass
  - SECRET_KEY=prodsecretkey
  - SECURITY_PASSWORD_SALT=prodsalt
  - LICENSE_KEY=PENG-PROD-XXXX-XXXX-XXXX-ABCD
  - REDIS_PASSWORD=prodredis
